.DefaultSettingCard-container{
    width: 100%;
    padding: 36px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 3px 3px 0px rgba(0, 0, 0, 0.09), 0px 6px 4px 0px rgba(0, 0, 0, 0.05), 0px 11px 4px 0px rgba(0, 0, 0, 0.01), 0px 17px 5px 0px rgba(0, 0, 0, 0.00);
    display: flex;
    flex-direction: column;
    gap: 36px;

    .dropdown-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #DDD;
        padding-bottom: 16px;

        span {
            color: #141416;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 24px */
        }
    }

    .dropdown-item-2{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #DDD;
        padding-bottom: 16px;
        gap: 10px;
    }

    .dropdown-item-1st{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
    }

    .dropdown-container-2nd{
        display: flex;
        justify-content: end;
    }

    .dropdown-tooltip{
        display: flex;
        gap: 8px;
    }
}