.LandingPageFooter-container{
    background: #FFF;
    padding: 42px 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 80px;
    border-top: 1px solid #E4E8EC;

    .logo-footer{
        display: flex;
        align-items: center;
        gap: 15px;
        
        p{
            color: #333;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &:hover{
            cursor: default;
        }
    }

    .footer-links{
        display: flex;
        justify-content: space-between;

        .links-footer{
            display: flex;
            gap: 24px;

            a{
                all: unset;
                color: #333;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
                letter-spacing: 0.3px;
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .links-icon{
            display: flex;
            gap: 4px;
            align-items: center;
            justify-content: center;

            .email-icon{
                padding: 0.5px;
            }
        }
    }

    .right-reserve{
        display: flex;
        flex-direction: column;
        gap: 20.51px;

        p{
            color: #92989F;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
            letter-spacing: 0.257px;
        }
    }


}