@font-face {
    font-family: 'Quicksand';
    src: url('../../assets/fonts/Quicksand/static/Quicksand-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../assets/fonts/Quicksand/static/Quicksand-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../assets/fonts/Quicksand/static/Quicksand-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
