@use "../components/TextGenerationForm.scss";
@use "base";
@use "components";
@use "abstract" as *;
@use "../components/Sidebar.scss";
@use "../components/ViewBoard.scss";
@use "../components/Card.scss";
@use "../components/editor.scss";
@use "../components/UI/Modal/Modal.scss";
@use "_mixins";

body {
    background: $color-bg;
    overflow: hidden;
    line-height: 1;
}
html{
    font-family: 'Quicksand', sans-serif;
}

.main{
    height: 100%;
    display: flex;
    gap: 36px;
    overflow: hidden;
    @include lg{
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}