.platform-menu-container{
    padding-top: 38px;
    padding-left: 31px;
    padding-right: 31px;
    width: 28%;
    height: 100%;
    border-right: 1px solid #DDD;
    display: flex;
    flex-direction: column;
    gap: 18px;
}