.SliderComponent-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #DDD;
    &.last{
        border-bottom: unset;
    }

    .SliderComponent-label{
        color: #141416;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
    }
}

