.card{
    display: flex;
    align-items: flex-start;
    margin: 32px auto 36px auto;
    max-width: 684px;
    position: relative;
}

.icon{
    height: 40px;
    width: 40px;
    margin-right: 12px;
}