
.editor-container{
    max-width: 632px;
    border-radius: 15px;
    padding: 10px 28px 18px 28px;
    background-color: white;
    box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.12);
}


.editor-input{
    width: 100%;
}