.modal-content {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .preview-content {
        display: flex;
        padding: 16px;
        background-color: white;
        border-radius: 8px;
        border: 1px solid  #C9CBCF;
    }
}


.modal-title{
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    .modal-platform{
        display: flex;
        align-items: center;
        gap: 12px;
        color:white;
        img{
          width: 40px;
          height: 40px;
        }

    }

    .button-group {
        display: inline-flex;
        border-radius: 0.25rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        & [role="group"] {
            display: flex;
          }

          button {
            flex: 1;
            font-size: 0.875rem;
            font-weight: 500;
            color: #9C9CA4;
            background-color: white;
            border: 1px solid black;
            padding: 0.5rem 1rem;
            transition: background-color 0.2s, color 0.2s;

            &:hover {
              cursor: pointer;
            }
          }

          button:first-child {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            border-right: none;
          }

          button:last-child {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
          }

          .selected{
            background-color: black;
            color: #ffffff;
          }

      }

}
