@import "../sass/abstract/variables";
@import "../sass/base/typography";
.side-bar{
    padding: 24px 36px;
    padding-right: 0px;
    position: relative;
    height: 100%;
    background-color: $color-white;
    border-right: 1px solid $color-grey-200;
    display: flex;
    flex-direction: column;
    transition: all 0.7s ease-out;
    width: 29.6%;
    .form{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .avatar{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .logo{
        position: relative;
        @include semi-bold-32();
        color: $color-black;
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-grey-200;
        margin-bottom: 20px;
        margin-right: 36px;
    }

    .fold{
        position: absolute;
        top: 48px;
        right: -15px;
        transform: translateY(-50%);
        height: 25px;
        width: 25px;
        &:hover{
            cursor: pointer;
        }

        @include lg{
            opacity: 0;
        }
    }
    
}

.side-bar.close{
    width: 88px;
    min-width: 88px;
    flex-grow: unset;
    padding-left: 20px;
    .avatar{
        max-width: fit-content;
    }

    .logo{
        border: none;
    }

    .title {
        display: none;
    }

    .form{
        opacity: 0;
    }
}