@use "../sass/abstract/" as *;
@import "../sass/base/typography.scss";
.submit-btn {
    display: inline-block;
    margin-top: 40px;
    padding: 12px 126px;
    border: none;
    border-radius: 10px;
    background-color: $color-black;
    color: $color-white;
    @include bold-22();
    color: $color-white;
    text-align: center;
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }

    &:focus-visible{
        border: 2px solid #3B71CA;
    }
}

.error{
    display: block;
    color: $color-red;
    font-size: 10px;
    text-align: right;
}

.error-description{
    border-color: $color-red;
    &:focus{
        outline: $color-red;
    }
}