@use "../sass/abstract/" as *;
@import "../sass/base/typography.scss";
.submit-btn {
    display: inline-block;
    margin-top: 40px;
    padding: 12px 126px;
    border: none;
    border-radius: 10px;
    background-color: $color-black;
    color: $color-white;
    @include button-text();
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.error{
    display: block;
    color: red;
    font-size:10px;
    text-align: right;
}

.error-description{
    border-color: red;
    &:focus{
        outline: red;
    }
}