.post--card--container {
    background-color: white;
    height: 570px;
    display: flex;
    flex-direction: column;
    position: relative;

    .post--card--article{
    display: grid;
    border: none!important;
    grid-template-columns: 1fr 1fr;
    }

    .post--card--body.desktop--left{
        img{
            max-height: 570px;
        }
        
    }

    .desktop--right{
        height: 100%;
        width: 100%;
        position: relative;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;

        .post--card--header {
            width: 100%;
            border-bottom: 1px solid #DADDE1;
            padding: 13px;
        }

        .flex-row{
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
        .align-items-center {
            display: flex;
            align-items: center;

            p, h4{
            font-size: 14px;
            line-height: 18px;
            font-weight: 700;
            }

            .middle-dot{
                margin-left: 7px;
                margin-right: 7px;
            }
        }

        .post__header__avatar{
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin-right: 12px;
        }

        .post-content {
            height: 370px;
            padding: 15px 13px;
            border-bottom: 1px solid #DADDE1;
            display: flex;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }

            h4{
                font-size: 14px;
                line-height: 18px;
                font-weight: 700;
                display: inline;
            }

            .preserve-format{
                font-size: 14px;
                line-height: 18px;
                white-space: pre-line;
                padding-right: 16px;

                .time-edit{
                    font-size: 12px;
                    line-height: 16px;
                    color: #737373;
                    margin-top: 10px;
                }

                .empty-space{
                    height: 30px;
                }
            }
                
            
        }

        .post--card--footer{
            padding: 13px;
            padding-top: 10px;
            padding-bottom: 22px;
        }

       
        .icon-flex-row{
            display: flex;
            gap: 15px;
        }

        .post--footer--upper--row svg{
            height: 24px;
            width: 24px;
            margin-bottom: 5px;
        }

        .post--bottom--comment--adding {
            padding: 13px;
            border-top: 1px solid #DADDE1;
            padding-top: 11px;
            
        }

        .form--input--container--inner {
            gap: 15px;
            svg {
                height: 20px;
                width: 20px;

                &:hover{
                    cursor: pointer;
                }
            }

            .post__bottom__input {
                color: white;
                background-color: transparent;
                border: none;
                outline: none;
            }
        }
    }
}

.like__invitation{
    font-size: 14px;
    line-height: 18px;
}

.post__date{
    font-size: 10px;
    color: #737373;
}

svg:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

.hashtag-Instagram{
    color: #00376b;
}

