//colors
$color-white: #FFFFFF; 
$color-bg:#F9F9F9;
$color-grey-100:#F5F5F7;
$color-grey-200:#DDDDDD;
$color-grey-300: #9C9CA4;
$color-grey-400: #4C535F;
$color-grey-500:#333333;
$color-red: #E00000;
$color-black:#141416;
$color-brand:linear-gradient(90deg, #B65EBA 4.69%, #2E8DE1 100%);