@use "../abstract" as *;
@import "../base/typography.scss";

.text-generated-form{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.form_label {
    @include title();
    display: block;
    line-height: 150%;
}

.description-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .count{
    color: #9C9CA4;
  }
}


.form_text{
    @include text-field();
    width: 100%;
    padding: 14px 20px;
    background: $color-primary;
    border: 1px solid $color-border;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 8px;
    cursor: pointer;
    &:focus{
        outline: none;
    }

}
textarea{
    @include text-field();
    resize: none;
    width: 100%;
    padding: 14px 20px;
    background: $color-primary;
    border: 1px solid $color-border;
    border-radius: 10px;
    margin-top: 8px;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}

.text-area{
    margin-bottom: 20px;
}

::placeholder {
    @include text-field();
    color: #9C9CA4;
}

.optional{
    color: #9C9CA4;
}

.checkbox-input{
    display: flex;
    margin-top: 16px;
    margin-bottom: 20px;
    
   input[type=checkbox]{
    display: none;
  }

  .checkbox-container label{
    display: inline-block;
    position: relative;
    width: 40px; 
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
  }

  .checkbox-container label img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .custom-checkbox{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px; 
    height: 16px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type=checkbox]:checked + .custom-checkbox{
    background: url("../../../public/assets/check.svg") no-repeat center/cover;
    background-color: white;
  }

}
