@use "../abstract" as *;
@import "../base/typography.scss";
@import "../mixins";

.text-generated-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .scrollable-content{
      height: 65vh;
      flex-grow: 1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 24px;
      
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: #9C9CA4;
      }

    }
}

.form_label {
    @include semi-bold-16();
    color: $color-black;
    display: block;
}

.description-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .count{
    color: $color-grey-300;
  }
}



.form_text{
    @include reg-14();
    color: $color-black;
    width: 100%;
    padding: 14px 20px;
    background: $color-grey-100;
    border: 1px solid $color-grey-200;
    border-radius: 10px;
    margin-top: 8px;
    &:focus{
      outline: none;
      @include focus-gradient();
    }

}
textarea{
    @include reg-14();
    color: $color-black;
    resize: none;
    width: 100%;
    padding: 14px 20px;
    background: $color-grey-100;
    border: 1px solid $color-grey-200;
    border-radius: 10px;
    margin-top: 8px;
    box-sizing: border-box;
    &:focus{
        outline: none;
        @include focus-gradient();
    }
    
  &::-webkit-scrollbar {
      background: transparent;
      width: 7px;
  }
  
  &::-webkit-scrollbar-track {
      margin-top: 4px;
      margin-bottom: 4px;
      background: transparent;
      border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
      border: 2px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      background-color: $color-grey-200;
      border-radius: 10px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
}

::placeholder {
    @include reg-14();
    color: $color-grey-300;
}

.optional{
    color: $color-grey-300;
}

.checkbox {
  display: flex;
  flex-direction: column;
}
.checkbox-input{
    display: flex;
    margin-top: 16px;
    
   input[type=checkbox]{
    position:absolute;
    top: -6px;
    right: -6px;
    width: 12px; 
    height: 12px;
    background-color: $color-white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    &:focus-visible{
      outline: 1px solid #3B71CA;
    }
  }



  .checkbox-container label{
    display: inline-block;
    position: relative;
    width: 40px; 
    height: 40px;
    margin-right: 24px;
  }


  .checkbox-container label img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .custom-checkbox{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px; 
    height: 16px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type=checkbox]:checked + .custom-checkbox{
    background: url("../../../public/assets/check.svg") no-repeat center/cover;
    background-color: white;
  }

}