.TooltipContent {
    width: 168px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    color: #141416;
    background-color: white;
    user-select: none;
    box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.12);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;

    p, h4{
       line-height: 150%; 
    }
  }