.post{
    display: flex;
    align-items: flex-start;
    padding: 16px;
}

.post.mobile{
    display: flex;
    align-items: flex-start;
    padding: 16px 16px 0px;
}

.post_body img{
    width: 100%;
    object-fit: contain;
    border-radius: 20px;

}

.post_body .placeholder-image{
    width: 100%;
    height:100%;
    object-fit: contain;
    border-radius: 0%;
    flex-grow: 1;
}

.post_footer{
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    align-items: flex-start;

    img {
        height: 26px;
        width: 26px;
        display: inline;
        margin-right: 15px;
    }

    img:hover{
        cursor: pointer;
    }

    .icon_group_twitter{
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #536471;
    }
}

.post_profile-image img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 12px;

}

.post_badge{
    margin-right: 5px;

}

.header-icon-section{
    display: flex;
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    color: grey;
    align-items: center;
}

.post_header {
    display: flex;
    justify-content: space-between;
}
.post_header-text h3{
    display: flex;
    gap: 4px;
    font-size: 13px;
    align-items: center;

}

.post_header-discription{
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 120%;
    white-space: pre-line;
}

.post_body{ 
    display: flex;
    flex-direction: column;
    flex: 1;
}

svg:hover{
    cursor: pointer;
}

.hashtag-Twitter{
    color: #1d9bf0
}